*{
    margin: 0%;
    padding: 0%;
}
.main-page {
    
    // background-color: #f2f2f2;
    background-image: url("./../../Assets/img/newBackground.avif");
    height: 558px;
    background-size: 146%;
    background-repeat: no-repeat;
    
}